h1 {
  text-align: center;
  font-family: sans-serif;
}

#board{
  width: 300px;
  margin: 0 auto;
}

.row {
  outline: 2px dashed grey;
  width: 300px;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

.square {
  height: 100px;
  width: 100px;
  outline: 4px solid black;
  float: left;
}

.blue {
  background-color: blue;
}

.red{
  background-color: red;
}